@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
  --base-color-light:#fafafa;
  --base-color-dark:#050505;
  --font-size:20px;
  --margin-x:2vw;
  --spacing:1vh;
  --line-height: 1.5;
}

body{
  margin: var(--margin-x);
  background-color: var(--base-color-light);
  color: var(--base-color-dark);
  font-family: "Helvetica Neue", Helvetica, Inter, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:var(--font-size);
}

/* row */
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--spacing) 
}


/* col */
.col {
  grid-column: span 1;
}


.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-6 { grid-column: span 6; }
.col-8 { grid-column: span 8; }
.col-12 { grid-column: span 12;}


ul{
  margin: 0 0 var(--line-height) 0;
  list-style-type: none;
  padding-inline-start: 0;
}

li{
  /* margin-bottom: var(--spacing); */
  line-height: var(--line-height)
}

button{
  all:unset;
  text-decoration: inherit;
  color: inherit;
  transition: color 0.2s;
}

p{
  margin: 0 0 var(--line-height) 0;
  line-height: var(--line-height);
}

a{
  color:inherit;
  text-decoration: none;
  transition: color 0.2s
}

/* information section */

.information{
  display:grid;
  grid-template-columns: 1fr 1fr;
  column-gap:var(--margin-x);
  row-gap: var(--spacing);
}

.information-sociallinks{
  grid-column: 2;
}

.information-experience-container{
  display:grid;
  grid-template-columns: max-content 1fr;
}


.information-experience-container dt{
  grid-column: 1;
}

.information-experience-container dd{
  grid-column:2;
  margin: 0 0 var(--spacing) 0;
}
/* keyframes and animations */

nav ul li button{
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.fade-in{
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn{
  from {opacity:0}
  to {opacity:1}
}

.fade-in > *:nth-child(1) {
  animation-delay: 0.1s;
}

.fade-in > *:nth-child(2) {
  animation-delay: 0.3s;
}

.fade-in > *:nth-child(3) {
  animation-delay: 0.5s;
}

button:hover, a:hover{
  color: var(--base-color-dark);
  cursor: pointer;
}

.item-unfocus{
  color:color-mix(in srgb, var(--base-color-dark) 50%, white 2%);
}