@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --base-color-light:#fafafa;
  --base-color-dark:#050505;
  --font-size:clamp(8px, calc(1vw + 1rem), 22px);
  --gutter:clamp(1rem, calc(1.5vw + 1rem), 2rem);
  --line-height: clamp(0.75, 1.5, 1.75);
}

h1,h2,h3,h4{
  font-size: inherit;
  font-weight:inherit;
}

body{
  margin: 0 var(--gutter);
  background-color: var(--base-color-light);
  color: var(--base-color-dark);
  font-family: "Helvetica Neue", Helvetica, Inter, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:var(--font-size);
  text-wrap:balance;
  white-space: pre-line;
}


ul{
  margin:0;
  list-style-type: none;
  padding-inline-start: 0;
}

li{
  line-height: var(--line-height)
}

button{
  all:unset;
  text-decoration: inherit;
  color: inherit;
  transition: color 0.2s;
}

p{
  line-height: var(--line-height);
}

a{
  color:inherit;
  text-decoration: none;
  transition: color 0.2s
}

/* information section */

.information dl{
  margin:0;
}

.information dd{
  margin: 0 0 var(--gutter) 0;
}

/* Projects section */

figure{
  margin:0;
}

.project-images img{
  width:100%;
  height:auto;
  object-fit:cover;
  cursor:pointer;
}
/* 
.project-caption{
  margin-bottom:var(--gutter);
} */

.image-focus {
  background-color: var(--base-color-light);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
}

.image-focus img {
  max-width: 95%;
  max-height: 80%;
  object-fit: contain;
}

.image-focus figcaption{
  justify-self: left;
  align-items: left;
}

/* keyframes and animations */

.hoverable {
  transition: color 0.25s ease, transform 0.25s ease, opacity 0.25s ease;
}

.hoverable:hover {
  color: color-mix(in srgb, var(--base-color-dark), black 25%);
  transform: scale(1.02);
  opacity: 1;
}

button:hover, a:hover{
  color: var(--base-color-dark);
  cursor: pointer;
}

.item-unfocus{
  color:color-mix(in srgb, var(--base-color-dark) 50%, white 2%);
}

/* grid / layout */

/* mobile */
.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gutter);
}

.information, .projects{
    display:grid;
    grid-column: 1 / -1;
    gap: var(--gutter);
    grid-template-columns: 1fr;
}

nav{
  grid-column: 1 / span 2;
  grid-row:1;
}

.information, .projects {
  gap: var(--gutter);
}

.information-experience-button{
  grid-column: 1;
  grid-row:2;
}

.information-sociallinks{
  grid-column:2;
}

.information-experience-list{
  grid-column:1;
}

.project-details{
  grid-row:2;
}

.project-description{
  grid-column:1 / -1
}

/* media queries */

/* desktop */
@media (min-width: 1024px) {

  .layout {
    grid-template-columns: 1fr 1fr 2fr;
  }

  nav{
    grid-column:1;
  }

  .information, .projects{
    display:grid;
    grid-column: 2 / -1;
    grid-template-columns: subgrid;
  }

  .information-description{
    grid-column: 2;
  }

  /* Projects section */
  
  .project-container{
    grid-column:1 / -1;
    grid-row:1 / -1;
  }
  .project-details{
    grid-column:2;
    grid-row:auto;
  }
  .project-images{
    grid-column: 2;
    grid-row: 2;
  }
  .project-image-caption{
    grid-column:1 / -1;
  }

  /* Info section */

  .information-experience-button{
    grid-column: 1;
    justify-self: start;
    align-self: start;
  }
  .information-description{
    grid-column:1;
  }

  .information-sociallinks{
    grid-column: 2;
  }
  .information-experience-list{
    grid-column:2;
  }
}
