@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
  --base-color-light:#fafafa;
  --base-color-dark:#050505;
  --font-size:20px;
  --margin:5vw;
  --spacing:1vh;
}

body{
  background-color: var(--base-color-light);
  color: var(--base-color-dark);
  font-family: "Helvetica Neue", Helvetica, Inter, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:var(--font-size);
}


/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Row */
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12-column grid like Bootstrap */
  gap: var(--spacing) /* gutter space between columns */
}

/* Column - default spans 1 column */
.col {
  grid-column: span 1;
}

/* Column span helpers */
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-6 { grid-column: span 6; }
.col-8 { grid-column: span 8; }
.col-12 { grid-column: span 10;}
/* ... up to .col-12 */


nav ul{
  list-style-type: none;
  padding-inline-start: 0;
}

nav ul li{
  margin-bottom: var(--spacing);
}

a{
  text-decoration: inherit;
  color: inherit;
  transition: color 0.2s;
}

a:hover{
  color:color-mix(in srgb, var(--base-color-dark) 50%, white 2%)
}